
html,
body,
main {
    overflow-x: hidden;
    max-width: 100%;
    font-size: 12px;
    color: #314158;
    font-family: 'UTM Avo', sans-serif;
}

@media (min-width: 1536px) {
    html,
    body,
    main {
        font-size: 14px;
    }
} 
